<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="http://www.lagou.com" target="_blank" title="拉勾网">拉勾网</a></h3></li>
    <li><h3><a href="https://github.com/" target="_blank" title="github">github</a></h3></li>
    <li><h3><a href="http://stackoverflow.com/" target="_blank" title="stackoverflow">stackoverflow</a></h3></li>
</ul>
<%- include footer %>